* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    background-color: #212121;
}
.topnav {
    background-color: #008208;
    overflow: hidden;
}
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
}
.topnav a:hover {
    background-color: #7BBD00;
    color: #212121;
}
.topnav label{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
}
.form-wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    max-width: 800px;
}
form {
    background-color: #303030;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}
.width{
    width: 100%;
}
.width-half {
    width: 50%;
}
.width-third {
    width: 33.33%;
}
.margin-bottom {
    margin-bottom: 20px;
}
.padding-top {
    padding-top: 12px;
}
.margin-sides {
    margin-left: -12px;
    margin-right: -12px;
}
.padding-sides {
    padding-left: 12px;
    padding-right: 12px;
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 12px;
}
.input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: #424242;
    font-weight: 500;
    font-size: 14px;
    color: #f1efef;
    outline: none;
    resize: none;
}
.small-input {
    width: 100%;
    padding: 12px 12px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: #424242;
    font-weight: 500;
    font-size: 14px;
    color: #f1efef;
    outline: none;
    resize: none;
    max-width: 60px;
}
.input:focus {
    border-color: #008208;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.05);
}
.select {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: #424242;
    font-weight: 500;
    font-size: 14px;
    color: #f1efef;
    outline: none;
    resize: none;
}

.button {
    text-align: center;
    font-size: 14px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #008208;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: #7BBD00;
    color: #303030;
}